# Traefik Global Configuration
api:
  dashboard: true
  insecure: true  # Временно для теста

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false  # Только контейнеры с labels будут доступны
    network: internal
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

# Логи
log:
  level: INFO

accessLog: {}

# Для будущего SSL через Let's Encrypt (пока отключено)
# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: your-email@example.com
#       storage: /letsencrypt/acme.json
#       httpChallenge:
#         entryPoint: web
